@media(max-width:768px){  /*for phone screen */
    .container{
        grid-template-columns: 1fr;
    }
}
@media(max-width:1024px){ /*for tablet screen */
    .container{
        grid-template-columns: repeat(2, 1fr);
    }
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.links{
    display: flex;
    list-style: none;
    gap: 30px;
}
.links a{
    color:black;

}
.links a:hover{
    color:orangered;
}
.links a:active{
    color:green;
    
}
.rname{
    font-family: "Permanent Marker", serif;
    font-size: 40px;
    color: orangered;
}
.hbody{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.firstsec{
    text-align: center;
    margin: auto;
}
.secondsec img{
    border-radius: 20px;
}
.hmid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    margin-top: 30px;
}
.reserve{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 30px;
}