@media(max-width:768px){  /*for phone screen */
    .container{
        grid-template-columns: 1fr;
    }
    .firstsec, .secondsec, .third, .fourth {
        text-align: center;
    }
    .firstsec button {
        margin: 1rem auto;
    }
}
@media(max-width:1024px){ /*for tablet screen */
    .container{
        grid-template-columns: repeat(2, 1fr);
    }
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.links{
    display: flex;
    list-style: none;
    gap: 30px;
}
.links a{
    color:black;

}
.links a:hover{
    color:orangered;
}
.links a:active{
    color:green;
    
}
.rname{
    font-family: "Permanent Marker", serif;
    font-size: 40px;
    color: orangered;
}
.hbody{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.firstsec, .secondsec{
    flex: 1 1 300px;
}
.secondsec img{
    max-width: 100%;
    height: auto;
}
.hmid{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 30px;
}
.third, .fourth{
    flex: 1 1 300px;
}
.third img{
    max-width: 100%;
    height: auto;
}
.reserve{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 30px;
}
.abody{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    text-align: left;
}
